{% extends 'base.html' %}
{% load static %}

{% block title %}Parolni tiklash{% endblock title %}

{% block content %}
<div role="main" class="main">
	<div class="container" style="max-width: 800px;">
		<div class="row align-items-center py-4 my-5 my-xl-5 box-shadow-4">
            <h1 class="text-center">Parolni tiklash</h1>
			<div class="col-12">
                <form class="appear-animation" method="POST" data-appear-animation="fadeIn" data-appear-animation-delay="600">
                    {% csrf_token %}
                    <div>
                        {% include 'components/msg.html' %}
                    </div>

                    <div class="form-row">
                        <div class="form-group col-12">
                            <label class="required font-weight-bold text-dark">Telefon raqam</label>
                            <input type="tel" data-msg-required="Iltimos telefon raqamingizni kiriting!" maxlength="100" class="form-control" name="phone_number" id="phone_number" required>
                        </div>
                        <div class="form-group col-12">
                            <label class="required font-weight-bold text-dark">Sms kod</label>
                            <input type="number" data-msg-required="Iltimos telefon raqamingizni kiriting!" maxlength="100" class="form-control" name="code" id="code" required>
                        </div>

                        <div class="form-group col-12">
                            <label class="required font-weight-bold text-dark">Yangi parol</label>
                            <input type="password" data-msg-required="Parol kiriting!." maxlength="100" class="form-control" name="password" id="password" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <button type="submit" class="btn btn-primary btn-modern" data-loading-text="Loading...">Tiklash</button>
                            <a href="{% url 'reset_password_1' %}" class="btn" data-loading-text="Loading...">Sms kod olish</a>
                        </div>
                    </div>
                </form>
            </div>
		</div>
	</div>
</div>
{% endblock content %}
